*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #272727;
}

#container{
    margin: 0 auto;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 650px;  
    background-color: #202020;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
}

#playlist{
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#song{
    display: none;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1fr 4fr;
}

#playlist header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 4em;
    font-weight: bolder;
}


#playlist section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    height: 66vh;
    max-height: 100%;
    
}

.listsong{
    width: 80%;
    background-color: black;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 1.5rem;
    margin: 10px 0px;
}

.active{
    background-color: red;
    color: black;
    font-weight: bolder;
}

.listsong img{
    height: 90%;
    width: auto;
}

.listsong .title{
    width: 100%;
    font-size: 100%;
    padding-left: 10px;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


#prog{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.time{
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
}

progress[value]{
    width: 70%;
    background-color: #000;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-bar {
    background-color: #000;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

  progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #F00, #f00);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

footer #buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer button{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    background-color: red;
    font-size: 50px;
}

#prev span{
    background-image: url("./icons/prev.png");
}

#next span{
    background-image: url("./icons/next.png");
}

#play span{
    background-image: url("./icons/play.png");
}


.icon{
    width: 60%;
    height: 60%;
    background-position: center;
    background-size: contain;
    display: inline-block;
}

